# This is a comment.
# Each line is a file pattern followed by one or more owners.



# For the API, we want to have an allow-list of users that can approve pull requests.
/apis/poi/ @faxg @nepal2030 @kostinams @chbasani @tibor19
/apis/trips/ @faxg @nepal2030 @kostinams @chbasani @tibor19
/apis/user-java/ @faxg @nepal2030 @kostinams @chbasani @tibor19
/apis/userprofile/ @faxg @nepal2030 @kostinams @chbasani @tibor19


